include AUTHORS.txt
include INSTALL.txt
include MANIFEST.in
recursive-include temporal *
recursive-include docs *
recursive-include tests *
recursive-exclude * __pycache**
recursive-exclude * *.py[co]
